@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }

    .carousel {
        width: 50%;
        margin-top: 8em;
    }

    .my-container {
        margin-left: 10em;
    }
  }


  .carousel {
    width: 50%;
  }

  .big-grid {
    display: grid ;
  }
